{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-5">
  <div class="card mb-3 shadow-sm">
    <div class="card-header">
      <strong>Event Date:</strong> {{ event.event_date|date:"M d, Y H:i" }}
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ event.title }}</h4>
      <p class="card-text">{{ event.description }}</p>
      <p class="card-text">
        <strong>Price:</strong> ${{ event.price }}
      </p>

      {% if event.available %}
      <div class="col-md-4">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form layout="inline" %}
          <button type="submit" class="btn btn-primary my-2">
            Buy Ticket
          </button>
        </form>
      </div>
      {% else %}
      <div class="alert alert-warning" role="alert">
        Tickets for this event are no longer available.
      </div>
      {% endif %}
    </div>

    <div class="card-footer text-muted text-end">
      Last updated: {{ event.updated|date:"M d, Y H:i" }}
    </div>
  </div>
</div>
{% endblock %}
