{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  {% for event in event_list %}
  <div class="card mb-3 {% if user in event.attendees.all %} text-bg-success {% endif %}">
    <div class="card-header">{{ event.event_date }}</div>
    <div class="card-body">
      <h4 class="card-title">{{ event.title }}</h4>
      <p class="card-text">{{ event.description }}</p>
      <a href="{% url 'myApp:join_or_leave' event.pk %}" class="btn {% if user in event.attendees.all %} btn-outline-warning {% else %} btn-outline-info {% endif %}">
        {% if user in event.attendees.all %} Leave {% else %} Join {% endif %}
      </a>
    </div>
    <div class="card-footer text-muted">
      Guests: 
      {% for user in event.attendees.all %}
        {{ user.username }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
